#!/usr/bin/expect -f
 
spawn ./setup.sh

expect "Username:"
send "{{ username }}\r"

expect "New password:"
send "{{ password }}\r"

expect "Re-type new password:"
send "{{ password }}\r"

expect "Enter your web server user name (e.g. apache, www, nobody, www-data, ...)"
send "apache\r"

expect "Setup completed successfully."

expect eof
